.mountain_carousel{
    background-size: 100%;
    width: 100%;
    height: 619px;
}
.shore_carousel{
    background-size: 100%;
    width: 100%;
    height: 619px;
}
.flower_carousel{
    height: 619px;
    width: 100%;
}