*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-letters{
    background-color: #FFEBD1;
    border: 0;
    color: #FFA403;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    width: 40px;
    margin: 8px;
    padding: 12px;
    font-weight: bold;
}
.profile-title-holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.profile-container{
    display: flex;
    justify-content: space-around;
}
.profile-upload-icon{
    height: 200px;
}